@{
    ViewBag.Title = "MyInfo";
}

<form action="ReceiveUserInfo" method="post">
    ID:
    <br>
    <input type="text" name="id">
    <br>
    Name:
    <br>
    <input type="text" name="name">
    <br>
    Email:
    <br>
    <input type="text" name="email">
    <br>
    <input type="submit" value="Submit">
</form>
