@model MVCIntro.Models.User
@{
    ViewBag.Title = "MyInfo";
}

<h2>My Id is @Model.Id</h2>
<h2>
    My Name is @Model.Name </ h2 >
    <h2>
        My Email is @Model.Email </ h2 >
        <h2>This page's title is @ViewBag.Title </ h2 >


